name: daily-devcard
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@958db5a3e058fa60678968743b17214f7fc03a4b
        with:
          user_id: ${{ secrets.USER_ID }}
          commit_message: "chore: update ${filename}"
          type: "wide"
